{% extends "layout/i3layout.html.twig" %}

{% block content %}
					
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="box-wrapper">
					<!-- PAGE TITLE -->
					<div class="page-title">
						<h1>Полезные советы</h1>
					</div>
					<!-- BREADCRUMBS -->
					<ul class="breadcrumb">
						<li><a href="/">Главная</a><span class="divider"></span></li>
						<li class="active">Полезные советы</li>
					</ul>
				</div> <!-- //custom-page-header -->
			</div>
		</div>
	</div>					
	
	
		

	<!-- pricing -->
	<section id="pricing" class="clearfix mt-20"> 
		<div class="container"> 
			<div class="box-wrapper">
				<div class="row">

					<!-- faq section -->

					<div class="faq-inner">
						<div class="col-lg-12"><h2>Полезные советы </h2></div>

						<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h3>Предоставляются ли скидки при повторном обращении?</h3>
							<div class="alert alert-success"> 
								Да, постоянным клиентам предоставляется скидка в размере 10% от общей стоимости работ.
							</div>
							
							<h3>Имеются ли гарантии на выполненные работы?</h3>
							<div class="alert alert-success"> 
								Наша компания предоставляет гарантию до 5 лет на выполненные работы.
							</div>

							<h3>А вы работаете в выходные?</h3>
							<div class="alert alert-success"> 
								<p>Мы работам ежедневно с 9-00 до 21-00 без выходных.</p>
							</div>
							
							<h3>Предоставляется ли скидка при заказе услуги на сайте?</h3>
							<div class="alert alert-success"> 
							При онлайн заказе за 24 часа предоставляется скидка в размере 10%
							</div>

							<h3>Может ли мастер приехать загород?</h3>
							<div class="alert alert-success"> 					
Конечно, мы работает во всех районах Санкт-Петербурга и Ленинградской области.
							</div>	
						</div>
						<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12"> 

							<h3>Как быстро ко мне приедет мастер?</h3>
							<div class="alert alert-success">
							Минимальное время ожидания мастера составляет один час.
							</div>

							<h3>Может ли мастер самостоятельно приобрести необходимые строительные материалы для работы?</h3>
							<div class="alert alert-success">
							Да, мы предоставляем данную услугу. Стоимость необходимо уточнять у оператора по телефону 985-21-78
							</div>

							<h3>
								Может ли мастер приехать и дать консультацию?
							</h3>
							<div class="alert alert-success"> 
							Все консультации осуществляются по телефону квалифицированными 
							специалистами, но если действительно требуется личное присутствие мастера, то 
							минимальный вызов специалиста стоит 1200 рублей.
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
					
					
{% endblock %}
