{% extends "layout/i3layout.html.twig" %}

{% block content %}
					
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="box-wrapper">
					<!-- PAGE TITLE -->
					<div class="page-title">
						<h1>Вызов мастера</h1>
					</div>
					<!-- BREADCRUMBS -->
					<ul class="breadcrumb">
						<li><a href="/">Главная</a><span class="divider"></span></li>
						<li class="active">Вызов мастера </li>
					</ul>
				</div> <!-- //custom-page-header -->
			</div>
		</div>
	</div>					
	
	
		

	<!-- pricing -->
	<section id="pricing" class="clearfix mt-20"> 
		<div class="container"> 
			<div class="box-wrapper">
				<div class="row">
					<h1>Благодарим за заказ на нашем сайте!</h1>
					<p>
						Наши сотрудники свяжутся с Вами по указанным Вами реквизитам, в ближайшее время.
					</p>
					<p>
						Напоминаем часы нашей работы:
						<ul>
							<li>C 9:00</li>
							<li>До 22:00</li>
						</ul>
					</p>

<p>
	После выполнения работ обязательно сохраняйте квитанцию об оплате. При предъявлении 3-х квитанций при последующем вызове мастера, Вы также получите скидку 10% на любые виды работ.
</p>


				</div>
			</div>
		</div>
	</section>
{% endblock content %}
